/*
===================
Filters
===================
*/

.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button{
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    height: 48px;
    width: 20%;
    cursor: pointer;
    float: right;
    margin: 10px  30px;
}

button:hover{
    opacity: 0.9;
}

.locations{
border-right: 1px solid #DDDDDD;
}

.locations, .amenities{
    height: 100%;
    width: 25%;
    float: left;
}

.locations h3, .amenities h3{
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
}

.locations h4, .amenities h4{
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin: 0;
    margin-left: 20px;
}